* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: #a47e3b;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  background-color: #a47e3b;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  width: 100%;
}
.navbar {
  margin-top: 1rem;
  border-radius: 5px 5px 0 0;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 3;
  padding: 0.5rem 2rem;
  width: 100%;
  max-width: 1000px;
  background-color: #61481c;
  border-bottom: 0.1px solid #00000011;
}
.navbar img {
  width: 13%;
}
.btns-nav {
  display: flex;
  gap: 15px;
}

/*
button {
	padding: 1.3em 3em;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2.5px;
	font-weight: 500;
	color: #A47E3B;
	background-color: #A47E3B;
	border: none;
	border-radius: 45px;
	box-shadow: 0px 8px 15px rgba(255, 255, 255, 0);
	transition: all 0.3s ease 0s;
	cursor: pointer;
	outline: none;
  }
  
  button:hover {
	background-color: #A47E3B;
	box-shadow: -2px 8px 20px 	#E6B325;
	color: #fff;
	transform: translateY(-7px);
  }
  
  button:active {
	transform: translateY(-1px);
  }*/
/* From uiverse.io by @adamgiebl */
/* From uiverse.io by @adamgiebl */
button {
  border: none;
  display: block;
  position: relative;
  padding: 0.4em 1.7em;
  font-size: 18px;
  background: transparent;
  cursor: pointer;
  user-select: none;
  overflow: hidden;
  color: #a47e3b;
  z-index: 1;
  font-family: inherit;
  font-weight: 500;
  margin-left: 10px;
  border-radius: 5px;
}

button span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: -1;
  border: 4px solid #a47e3b;
}

button span::before {
  content: "";
  display: block;
  position: absolute;
  width: 8%;
  height: 500%;
  background: #61481c;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-60deg);
  transition: all 0.3s;
}

button:hover span::before {
  transform: translate(-50%, -50%) rotate(-90deg);
  width: 100%;
  background: #a47e3b;
}

button:hover {
  color: #e6b325;
}

button:active span::before {
  background: #a47e3b;
}
footer {
  width: 100%;
  max-width: 1000px;
}
.pie-pagina {
  margin-bottom: 15px;
  border-radius: 0 0px 5px 5px;
  width: 100%;
  background-color: #bf9742;
}
.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0;
}
.pie-pagina .grupo-1 .box figure {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pie-pagina .grupo-1 .box figure img {
  width: 100px;
}
.pie-pagina .grupo-1 .box h2 {
  color: white;
  margin-bottom: 25px;
  font-size: 20px;
}
.pie-pagina .grupo-1 .box p {
  color: #efefef;
  font-size: 18px;
  margin-bottom: 10px;
  text-align: center;
}
.pie-pagina .grupo-1 .box .red-social {
  text-align: center;
}
.pie-pagina .grupo-1 .box .red-social a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: #61481c;
  text-align: center;
  transition: all 300ms ease;
}
.pie-pagina .grupo-1 .box .red-social a:hover {
  color: #e6b325;
}
.pie-pagina .grupo-2 {
  background-color: #61481c;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
  border-radius: 0 0 5px 5px;
}
.pie-pagina .grupo-2 small {
  font-size: 15px;
}
.encabezado-slider {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 1000px;
  height: 100%;
  max-height: 80vh;
  justify-content: center;
  align-items: center;
  display: flex;
  background: #61481c;
  padding: 20px 0 20px 0;
}
.slider {
  max-width: 800px;
  width: 100%;
  height: 100%;
  max-height: 500px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 10px 10px 8px #61481c;
}
.slides {
  width: 500%;
  height: 500px;
  display: flex;
}
.slides input {
  display: none;
}
.slide {
  width: 20%;
  transition: 2s;
}
.slide img {
  width: 800px;
  height: 500px;
}

.navigation-manual {
  position: absolute;
  width: 800px;
  margin-top: 450px;
  display: flex;
  justify-content: center;
}
.manual-btn {
  border: 2px solid #a47e3b;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}
.manual-btn:not(:last-child) {
  margin-right: 40px;
}
.manual-btn:hover {
  background: #a47e3b;
}
#radio1:checked ~ .first {
  margin-left: 0;
}
#radio2:checked ~ .first {
  margin-left: -20%;
}
#radio3:checked ~ .first {
  margin-left: -40%;
}
#radio4:checked ~ .first {
  margin-left: -60%;
}

.navigation-auto {
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 450px;
}
.navigation-auto div {
  border: 2px solid #a47e3b;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}
.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}
#radio1:checked ~ .navigation-auto .auto-btn1 {
  background: #a47e3b;
}
#radio2:checked ~ .navigation-auto .auto-btn2 {
  background: #a47e3b;
}
#radio3:checked ~ .navigation-auto .auto-btn3 {
  background: #a47e3b;
}
#radio4:checked ~ .navigation-auto .auto-btn4 {
  background: #a47e3b;
}
main {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #61481c;
  color: #a47e3b;
}
.textos {
  text-align: center;
  padding: 0 50px;
}
.textos p {
  padding: 0 50px;
  font-weight: 600;
}
.galeria {
  width: 1000px;
  display: flex;
  justify-content: start;
  overflow: auto;
}
.historia {
  display: flex;
}
@media screen and (max-width: 800px) {
  .pie-pagina .grupo-1 {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0;
  }
}
